############################################# -*- mode: sh -*- ################
# ~/.aliases
#
# Sourced by `zsh` and `bash` (via ~/.zshrc and ~/.bashrc respectively).
###############################################################################

# General laziness ------------------------------------------------------------

alias e="$EDITOR"
alias E="SUDO_EDITOR=\"$EDITOR\" sudoedit"
alias vi='vim'
alias g='git'
alias x='extract'
alias _='sudo'
alias ipy='ipython'
alias tmx='TERM=xterm-256color tmux'
alias serve='python -m SimpleHTTPServer'

# Linux-specific aliases ------------------------------------------------------

if [[ "$OSTYPE" =~ "linux" ]]; then
    alias psc='ps xawf -eo pid,user,cgroup,args'
    alias mvim='vim'
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias egrep='grep -E --color=auto'
    alias fgrep='grep -F --color=auto'
fi

# `ls` ------------------------------------------------------------------------

alias l='ls'
alias la='ls -AF'
alias ll='ls -lhF'
alias lt='ls -lhtF'
alias ltr='ls -lhtrF'
alias lsd='ls -l | grep "^d"'

# File & directory operations -------------------------------------------------

alias ..='cd ..'
alias ...='cd ../..'
alias cp='cp -i'
alias mv='mv -i'
alias md='mkdir -p'
alias d='dirs -v'
alias df='df -h'
alias 1='cd -'
alias 2='cd +2'
alias 3='cd +3'
alias 4='cd +4'
alias 5='cd +5'
alias 6='cd +6'
alias 7='cd +7'
alias 8='cd +8'
alias 9='cd +9'

# Archives --------------------------------------------------------------------

alias tgc='tar -cxvf'
alias tgx='tar -zxvf'
alias tbc='tar --bzip2 -cvf'
alias tbx='tar --bzip2 -xvf'

# History ---------------------------------------------------------------------

alias history='fc -l 1'
alias h='history'

# Syntax-highlighting `cat` ---------------------------------------------------

alias c='pygmentize -O style=solarized256 -f console256 -g'


# vim: ft=sh
