# -*- mode: sh -*-

export EDITOR='emacsclient -a "emacs" -c'
export PAGER='less'
export LESS='-iMRSx4 -FX'
export PSQL_EDITOR="$EDITOR"

export GPG_TTY=$(tty)

if command -v gpg-agent &>/dev/null; then
    envfile="$HOME/.gnupg/gpg-agent.env"
    if [[ -e "$envfile" ]]; then
        agentpid=$(grep GPG_AGENT_INFO "$envfile" | cut -d: -f 2)
        if kill -0 "$agentpid" 2>/dev/null; then
            eval "$(cat "$envfile")"
        fi
    else
        eval "$(gpg-agent --daemon --write-env-file "$envfile")"
    fi
    export GPG_AGENT_INFO
fi

if [[ "$OSTYPE" == darwin* ]]; then
    PATH="/usr/local/bin:$PATH"
    export CLICOLOR=1
fi

PATH="$HOME/bin:$PATH"

if [[ -f ~/.python/startup.py ]]; then
   export PYTHONSTARTUP="$HOME/.python/startup.py"
fi

if [[ -x /usr/bin/dircolors ]]; then
    if [[ -f ~/.dircolors ]]; then
        eval `dircolors -b ~/.dircolors`
    else
        eval `dircolors -b`
    fi
fi

