# -*- mode: sh -*-

export EDITOR='emacsclient -a "emacs" -c'
export PAGER='less'
export LESS='-iMRSx4 -FX'
export PSQL_EDITOR="$EDITOR"

if [[ "$OSTYPE" == darwin* ]]; then
    export HOMEBREW_NO_INSECURE_REDIRECT=1
    export HOMEBREW_CASK_OPTS=--require-sha
    PATH="/usr/local/bin:$PATH"
    export CLICOLOR=1
fi

PATH="$HOME/bin:$PATH"

if [[ -f ~/.python/startup.py ]]; then
   export PYTHONSTARTUP="$HOME/.python/startup.py"
fi
