[user]
	name = John Mastro
	email = john.b.mastro@gmail.com

[core]
	editor = vim

[push]
	default = upstream

[color]
	ui = true

[alias]
	br = branch -v

	co = checkout
	nb = checkout -b

	ci = commit
	cm = commit -m
	amend = commit --amend

	d = diff
	dc = diff --cached
	dh = diff HEAD

	l = log --decorate --graph --date=short
	log = log --decorate --graph --date=short

	mt = mergetool

	rb = rebase
	rc = rebase --continue
	rs = rebase --skip

	unstage = reset HEAD
	uncommit = reset --soft HEAD^

	st = status -sb

[url "git@github.com:"]
	insteadOf = "gh:"

[url "git://github.com/"]
	insteadOf = "github:"
