[user]
	name = John Mastro
	email = john.b.mastro@gmail.com
[core]
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	rb = rebase
