! ~/.Xresources
!------------------------------------------------------------------------------

! xft -------------------------------------------------------------------------
! Xft.dpi:        102
! dpi calculation: echo 'scale=5;sqrt(1920^2+1080^2)/21.5' | bc 
Xft.rgba:       rgb
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault


! urxvt -----------------------------------------------------------------------
! URxvt.depth:            32
! URxvt*font:             -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
! URxvt*boldFont:         -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
URxvt*font:             xft:Inconsolata:pixelsize=13
URxvt*boldFont:         xft:Inconsolata:pixelsize=13
! URxvt*letterSpace:      -1
URxvt*scrollBar:        false
URxvt*saveLines:        32767
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt*perl-ext-common:  default,matcher,tabbed
URxvt*urlLauncher:      chromium
URxvt*matcher.button:   1
URxvt*colorUL:          #a9c9bc
URxvt*cursorColor:      orange
! URxvt*underlineCursor:  true
! URxvt*cursorBlink:      true
URxvt*termName:         rxvt-unicode
URxvt*title:            urxvt
URxvt*fading:           10
! URxvt*transparent:      true
URxvt*tintColor:        grey
URxvt*shading:          5
URxvt*pastableTabs:     true
URxvt*jumpScroll:       true
URxvt*secondaryScroll:  true
URxvt*urgentOnBell:     true
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    0
URxvt.tabbed.tab-bg:    4


! xterm -----------------------------------------------------------------------
xterm*font:             -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
xterm*boldFont:         -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
xterm*scrollBar:        false
xterm*saveLines:        16283
xterm*borderLess:       true
xterm*urlLauncher:      chromium
xterm*tintColor:        black
xterm*cursorColor:      orange
xterm*shading:          20
xterm*fading:           10
xterm*pastableTabs:     true
xterm*jumpScroll:       true

! colors ----------------------------------------------------------------------
*background:            #22211f
*foreground:            #b5b0ad
! black
*color0:                #131313
*color8:                #555753
! red
*color1:                #cd7171
*color9:                #e89393
! green
*color2:                #9ece9e
*color10:               #c4edc4
! yellow
*color3:                #dfaf8f
*color11:               #f0dfaf
! blue
*color4:                #6c8b9c
*color12:               #84a8bc
! magenta
*color5:                #ad7fa8
*color13:               #dc8cc3
! cyan
*color6:                #8cd0d3
*color14:               #81eaee
! white
*color7:                #bbbbbb
*color15:               #c6c6c6

! xscreensaver ----------------------------------------------------------------

xscreensaver.Dialog.headingFont: -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:    -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:   -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:   -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:  -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:    -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:  -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*

! xscreensaver.passwd.heading.label:  xscreensaver
! xscreensaver.passwd.body.label:     This screen is locked. 
